body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: mediumblue;
}  
h1 {
    margin-top: 20px;
    background-color: aqua;
    color: mediumblue;
}
.player1 {
    margin: 20px;
    background-color: aqua;
    color: mediumblue;
}
.player2 {
  margin: 20px;
  background-color: brown;
  color: lime;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: aqua;
    background-color: darkmagenta;
}
#rules, #howToWin {
  background-color: aqua;
  color: mediumblue;
}
.center {
    display: block;
    margin: 20px auto;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
#coinTossSection, #message {
    margin: 20px;
    color: aqua;
}  
img {
    max-width: 100px;
}
